:root {
  font-family: "fira code", monospace;

  /* https://colorhunt.co/palette/dddddd22283130475ef05454 */
  --background-primary: 221, 221, 221; /* #dddddd */
  --background-secondary: 4, 29, 53; /* #041d35 */
  --accent-primary: 34, 40, 49; /* #222831 */
  --accent-secondary: 240, 84, 84; /* #f05454 */
  --accent-tertiary: 48, 71, 94; /* #30475e */

  --text-primary: 34, 40, 49; /* #222831 */
  --text-secondary: 221, 221, 221; /* #dddddd */

  --header-height: 3.75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: 34, 40, 49; /* #222831 */
    --background-secondary: 15, 19, 26; /* #0f131a */
    --accent-primary: 48, 71, 94; /* #30475e */
    --accent-secondary: 240, 84, 84; /* #f05454 */
    --accent-tertiary: 18, 23, 31; /* #12171f */

    --text-primary: 221, 221, 221; /* #dddddd */
    --text-secondary: 221, 221, 221; /* #dddddd */
  }
}

::selection {
  background-color: rgb(var(--accent-primary));
  color: rgb(var(--text-secondary));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: rgb(var(--background-primary));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
