:root {
  font-family: "fira code", monospace;

  /* https://colorhunt.co/palette/dddddd22283130475ef05454 */
  --background-primary: #dddddd;
  --background-secondary: #30475e;
  --accent-primary: #222831;
  --accent-secondary: #f05454;
  --accent-tertiary: #dddddd;

  --text-primary: #222831;
  --text-secondary: #dddddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #222831;
    --background-secondary: #12171f;
    --accent-primary: #30475e;
    --accent-secondary: #f05454;
    --accent-tertiary: #30475e;

    --text-primary: #dddddd;
    --text-secondary: #dddddd;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
